<% if @entry.errors %>
    <ul>
    <% @entry.errors.full_messages.each do | message | %>
        <li><%= message %></li>
    <% end %>
    </ul>
<% end %>

<%= form_for( @entry ) do | f | %>
    <% @user.cats.each do | cat | %>
        <%= f.fields_for( :subentries, @entry.subentries.build ) do | subentry |%>
            <%= subentry.hidden_field :cat_id, { :value => cat.id } %>
            <fieldset class="form-group">
                <h2><%= cat.name.titleize %></h2>
                    <% @statuses.each do | status | %>
                        <div class="form-check">
                            <label class="form-check-label">
                                <%= subentry.radio_button :status_id, status.id, { :class => "form-check-input" } %>
                                <%= status.title %>
                            </label>
                        </div>
                    <% end %>
            </fieldset>
        <% end %>
    <% end %>

    <%= f.submit %>
<% end %>
