<!DOCTYPE html>
<html>
<head>
  <title>Catstatus</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="nav">
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="<%= entries_path %>">Entries</a>
</nav>

<main>
    <section class="container">
        <%= yield %>
    </section>
</main>

</body>
</html>
